.main-container {
  display: flex;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  z-index: 3;
  padding: 5px;
}

.form-header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.form-line {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

.form-line-title {
  width: 40%;
}

mat-select {
  width: 60px;
}
