<div class="main-container">
  <form
    class="form-container"
    [formGroup]="newAppoitmentForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-header">New appointment</div>

    <div class="form-line">
      <div class="form-line-title">Title:</div>
      <input type="text" formControlName="title" />
    </div>

    <div class="form-line">
      <div class="form-line-title">Start time:</div>
      <div>
        <mat-select formControlName="startTime">
          <mat-option [value]="option" *ngFor="let option of times">{{
            option
          }}</mat-option>
        </mat-select>
        until
        <mat-select formControlName="endTime">
          <mat-option [value]="option" *ngFor="let option of times">{{
            option
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="button-container">
      <button (click)="onCancelClick()">Cancel</button>
      <button type="submit" [disabled]="!newAppoitmentForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>

<!-- (selectionChange)="onStartTimeSelected($event.value)" -->
