<div class="page-header-container">Your Calendar</div>
<div class="calendar-container">
  <div
    *ngFor="let block of calenderBlocks"
    (click)="onCalendarBlockClick(block.time)"
  >
    <hr />
    <div class="block-container">
      <div class="block-time-container">{{ block.time }}</div>
      <div
        class="block-appointment-container"
        *ngFor="let appointment of block.appointments"
      >
        <button>{{ appointment.client }}</button>
      </div>
    </div>
  </div>
</div>
<app-new-appointment
  *ngIf="displayNewAppointmentForm"
  [startTime]="proposedStartTime"
  (newAppointment)="newAppointmentCreated($event)"
  (canceled)="newAppointmentCanceled()"
></app-new-appointment>
