<div class="page-container" [ngSwitch]="currentViewState">
  <div *ngSwitchCase="viewStateEnum.MAIN">
    <app-menu-page
      [config]="clientMenuPageConfig"
      (viewStateSelected)="onMenuOptionClicked($event)"
    ></app-menu-page>
  </div>

  <div *ngSwitchCase="viewStateEnum.VIEW">
    <div *ngFor="let client of clients | keyvalue">
      <div (click)="viewClient(client.value)">
        {{ client.value.displayName }}
      </div>
    </div>
    <app-menu-page
      [config]="viewClientsMenuConfig"
      (viewStateSelected)="onMenuOptionClicked($event)"
    ></app-menu-page>
  </div>

  <app-client-details-modal
    *ngSwitchCase="viewStateEnum.ADD_EDIT"
    [currentClient]="currentClient"
    (closed)="closeClientModal()"
    (newClient)="addNewClient($event)"
    (editedClient)="editClient($event)"
  ></app-client-details-modal>
</div>
