<div class="page-container" [ngSwitch]="currentViewState">
  <div
    *ngSwitchCase="viewStateEnum.MAIN"
    class="navigation-page-button-container"
  >
    <button
      *ngFor="let option of menuOptions"
      class="navbar-button"
      (click)="onMenuOptionClicked(option.viewState)"
      mat-button
    >
      {{ option.display }}
    </button>
  </div>

  <div *ngSwitchCase="viewStateEnum.VIEW">
    <div *ngFor="let client of clients">
      <div>{{ client }}</div>
    </div>
  </div>
</div>
