.button-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 100%;
}

button {
  height: 10%;
  margin: 2%;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}
