<div class="page-container" [ngSwitch]="currentViewState">
  <app-menu-page
    *ngSwitchCase="viewStateEnum.MAIN"
    [config]="financeMenuPageConfig"
    (viewStateSelected)="onMenuOptionClicked($event)"
  ></app-menu-page>

  <div *ngSwitchCase="viewStateEnum.VIEW_INVOICES">
    <app-financial-doc-list
      [config]="this.invoiceListPageConfig"
      (itemClicked)="onInvoiceClicked($event)"
    ></app-financial-doc-list>
    <app-menu-page
      [config]="invoiceListMenuConfig"
      (viewStateSelected)="onMenuOptionClicked($event)"
    ></app-menu-page>
  </div>

  <app-doc-view
    *ngSwitchCase="viewStateEnum.INVOICE_DETAIL"
    [config]="invoiceDocViewConfig"
  ></app-doc-view>

  <div *ngSwitchCase="viewStateEnum.GENERATE_INVOICES_PARAMETERS">
    <app-generate-invoice-modal></app-generate-invoice-modal>
  </div>

  <div *ngSwitchCase="viewStateEnum.GENERATE_INVOICES_RESULTS">
    <div *ngIf="!isInvoiceGenerationComplete">
      Generating invoices - one moment
    </div>
    <div *ngIf="isInvoiceGenerationComplete">
      <div>Invoices generated</div>
      <button (click)="backToInvoiceList()">View invoices</button>
    </div>
  </div>

  <app-menu-page
    *ngSwitchCase="viewStateEnum.PAYMENTS"
    [config]="paymentMenuPageConfig"
    (viewStateSelected)="onMenuOptionClicked($event)"
  ></app-menu-page>

  <div *ngSwitchCase="viewStateEnum.VIEW_PAYMENTS">
    <app-financial-doc-list
      [config]="paymentListPageConfig"
      (itemClicked)="onPaymentClicked($event)"
    ></app-financial-doc-list>
    <app-menu-page
      [config]="paymentListMenuConfig"
      (viewStateSelected)="onMenuOptionClicked($event)"
    ></app-menu-page>
  </div>

  <div *ngSwitchCase="viewStateEnum.PAYMENT_DETAIL">
    <app-payments
      [currentPayment]="payments[currentPaymentID] || {}"
      (closed)="paymentDetailModalClosed()"
      (newPayment)="paymentCreated($event)"
      (editedPayment)="paymentEdited($event)"
      (voidPayment)="paymentVoided()"
    ></app-payments>
  </div>
</div>
